.line-company__text {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #657085;
    margin: 181px 0 31px;
}

@media screen and (max-width: 1100px) {
    .line-company__text {
        margin: 130px 0 31px;
    }
    } 