.content-info {
    display: grid;
    max-width: 500px;
    align-self: start;
    padding-left: 10px;
    padding-right: 10px;

}

@media screen and (max-width: 1100px) {
    .content-info {
       
}
}