.content-info__title {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 48px;
    letter-spacing: 0.8px;
    color: #1C202B;
    padding-bottom: 48px;

}