.modern__text {
    padding-top: 443px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #1C202B;
     margin-bottom: 38px;
}

@media  screen and (max-width: 1100px) {
    .modern__text {
        padding-top: 70%;
    }   
    
}

@media screen and (max-width: 984px) {
    .modern__text {
    padding-left: 10px;
    padding-right: 10px;
}
}