.modern {
    width: 686px;
    background-image: url(../../img/Rectangle.svg);
    background-size: contain;
    background-repeat: no-repeat;

}
@media screen and (max-width: 984px) {
    .modern {
    width: 100%;
}
}