.line-company {
    padding-left: calc(50% - 1072px / 2);
    padding-right: calc(50% - 1072px /2);
    display: flex;
    gap: 59px;
    flex-wrap: wrap;
}

@media screen and (max-width: 1100px) {
    .line-company {
        justify-content: space-evenly;
        gap: 15px;
    }
    } 