.entrance__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #575757;
    border: 1px solid #C2CAD3;
    border-radius: 4px;
    padding: 13px;
    width: 170px;
    text-align: left;
    padding-left: 16px;
    margin-top: 20px;
}
input:focus {
    outline-color:#c5cbff;
    }
