.customer-content {
    padding-left: calc(50% - 1072px / 2);
    padding-right: calc(50% - 1072px /2);
}

@media screen and (max-width: 1100px) {
    .customer-content {
       text-align: center;
    } 
}