.product-article__title {
    display: flex;
    align-items: center;
    padding: 16px 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #222222;
    text-decoration: none;
}
