.header-platform__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height, or 100% */
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #657085;
    padding-top: 46px; 

}