.info-contacts-mail__tilte {
    margin-bottom: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #657085;
}