.infocom-content__right {
    max-width: 295px;
    display: flex;
    flex-direction: column;
    margin-right: 110px;
    margin-left: auto;
    flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
    .infocom-content__right{
        margin-right: auto;
    }
        
    }