.contacts-text__image {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 66px;
}

@media screen and (max-width: 1100px) {
    .contacts-text__image {
        justify-content: center;
    }
}

